<div style="text-align: center; margin-top: 150px;">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class: "avatar", style: "width: 200px; height: 200px;" %>
  <% else %>
    <%= image_tag "blank-profile-picture-973460_1280 (1).webp", class: "avatar", style: "width: 100px; height: 100px;" %>
  <% end %>

  <h1>
    <%= current_user.first_name %> <%= current_user.last_name %>
  </h1>

  <div class="show-profile-buttons">

    <span class="show-profile-button">
      <%= link_to "Edit Profile", edit_user_registration_path %>
    </span>

      <%= button_to "Delete Profile", delete_profile_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to delete your profile?' }, class: "show-profile-button" %>

    <span class="show-profile-button">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </span>

  </div>

</div>
