<h1>New Favourite Movie</h1>

<%= form_with(model: @favourite_movie, url: favourite_movies_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :imdb_reference %>
    <%= form.text_field :imdb_reference %>
  </div>

  <div>
    <%= form.label :user_reference %>
    <%= form.text_field :user_reference %>
  </div>

  <div>
    <%= form.submit "Create Favourite Movie" %>
  </div>
<% end %>
