<h1>New Recommendation</h1>

<%= form_with(model: @recommendation, url: recommendations_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


  <div>
    <%= form.label :user_reference %>
    <%= form.text_field :user_reference %>
  </div>

  <div>
    <%= form.submit "Create Recommendation" %>
  </div>
<% end %>
