<% if user_signed_in? %>
  <div class="home">
    <div class="home_box">
      <h1 class="new-title-class">What do you want to watch today?</h1>

      <%= form_with(url: '/chat', method: :post) do |form| %>
        <div class="form-group">
          <%= form.label :genre, "What genre you want to watch today?", class: "label-large" %>
          <%= form.text_field :genre %>
        </div>
        <div class="form-group">
          <%= form.label :duration, "How important duration is for you?", class: "label-large" %>
          <%= form.text_field :duration %>
        </div>
        <div class="form-group submit-button">
          <%= form.submit 'Go to Recommendations', class: 'btn' %>
        </div>
      <% end %>
      <div id="chat-response"></div>
    </div>
  </div>

  <style>
    body, html {
      height: 100%;
      margin: 0;''
      padding: 0;
    }

    .home {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
    }

    .home_box {
      text-align: center;
      margin: auto;
    }

    .new-title-class {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    .form-group {
      margin-bottom: 50px;
     }

    .form-group label {
      display: block;
      margin-bottom: 5px; 
    }

    .label-large {
      font-size: 20px;
      margin-right: 10px;
    }
   .btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    }

    .btn:hover {
    background-color: #0056b3;
    }
  </style>

  <script>
    // Optional JavaScript to display the chat response dynamically
    const chatResponseElement = document.getElementById('chat-response');
    const form = document.querySelector('form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      formData.append('authenticity_token', csrfToken);
      const response = await fetch('/chats', {
        method: 'POST',
        body: formData,
      });
      const responseData = await response.text();
      chatResponseElement.innerHTML = responseData;
    });
  </script>
<% else %>
<div class="home">
  <div class="home_box">
    <h1 class="new-title-class">What you want to watch today?</h1>
    <h3 class="sign-in-text">Sign in to get recommendations</h3>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
<% end %>
 <style>
    /*body, html {
      height: 100%;
      margin: 0;''
      padding: 0;
    }*/

  <style>
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .home_box {
    text-align: center;
    margin: auto;
  }

  .new-title-class {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .sign-in-text {
    margin-bottom: 20px;
  }

  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    line-height: 40px;
  }
</style>
