
<% if user_signed_in? %>
  <div class="home">
    <div class="home_box">
      <h1 class="new-title-class">What do you want to watch today?</h1>

      <%= form_with(url: '/chat', method: :post) do |form| %>
        <div class="form-input">
          <div class="form-group">
            <%= form.label :genre, "What genre you want to watch today?", class: "label-large" %>
            <%= form.text_field :genre, class:"w-100" %>
          </div>
          <div class="form-group">
            <%= form.label :duration, "How important duration is for you?", class: "label-large" %>
            <%= form.text_field :duration, class:"w-100" %>
          </div>
        </div>
        <div class="form-group home-page-button">
          <%= form.submit 'Go to Recommendations', class: 'btn btn-home-page' %>
        </div>
      <% end %>


      <div id="chat-response"></div>
    </div>
    <div class="movies d-none">
    </div>
  </div>


  <script>
    // Optional JavaScript to display the chat response dynamically
    const chatResponseElement = document.getElementById('chat-response');
    const home = document.querySelector('.home');
    const form = document.querySelector('form');
    const movies = document.querySelector('.movies');

    const createRecommendation = async (title) =>{
      fetch(`https://moviematcher.herokuapp.com/recommendations?title=${title}`, {
        method: "post"
      });
    }

    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      formData.append('authenticity_token', csrfToken);
      home.innerHTML = '<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_b2zmQW7tka.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>';
      const response = await fetch('/chats', {
        method: 'POST',
        body: formData,
      });
      const responseData = await response.text();
      home.innerHTML = '';

      const chatResponse = JSON.parse(responseData);

      movies.classList.remove('d-none');

      chatResponse.movies.forEach((movie) => {
        const movieInfo = `
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="${movie['poster_url']}" alt="Movie Poster" style="width:300px;height:400px;">
              </div>
              <div class="flip-card-back mt-4">
                <h3 class="recommendation-title">${movie['title']}</h3>
                <p>Year: ${movie['year']}</p>
                <p>Runtime: ${movie['runtime']} minutes</p>
                <p>Rating: ${movie['rating']}</p>
                <p>Genre: ${movie['genre']}</p>
                <a href="${movie['trailer']}" target="blank" class="text-decoration-none"><button class="border-white px-3 py-2 bg-black text-white">Watch trailer</button></a>
                <div class="mt-3">
                  <button class="recommendation-btn px-3 py-2">Add to Watchlist</button>
                </div>
            </div>
          </div>
        `;
        console.log(movie);
        console.log(movieInfo);
        movies.innerHTML += movieInfo;
     });
        home.appendChild(movies);

        const recommendationButtons = document.getElementsByClassName("recommendation-btn");

        Array.from(recommendationButtons).forEach((recommendationButton) => {
          recommendationButton.addEventListener('click', (event) => {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            const title = event.target.parentElement.querySelector(".recommendation-title").innerText;
            createRecommendation(title);
          })
        });
    });


  </script>

<% else %>
  <div class="home-wtuser">
    <div class="text-center">
      <h1 class="new-title-class">Tired of wasting time trying to choose movies?</h1>
      <%= link_to "Sign in to get recommendations", new_user_session_path, class: "btn btn-main" %>
    </div>
  </div>
  <% end %>



<%#
     <%= link_to recommendations_path(title: movie.title, user: current_user), data: { turbo_method: :post } do %>
                  <%# <i class="fa-solid fa-bookmark" style="color: #ffffff;"></i>
                <% end %>
